<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <b class="navbar-brand" routerLink="">Party Ok</b>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="proveedores" routerLinkActive="active-link">Proveedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="loginService.isAuthenticated()" routerLink="panelproveedor" routerLinkActive="active-link">Gestion Proveedor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!loginService.isAuthenticated()" routerLink="login" routerLinkActive="active-link">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="loginService.isAuthenticated()" (click)="logout()" routerLinkActive="active-link">Cerrar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>